{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <div class="container mt-5">

    <h1 class="mb-4">Create new Category</h1>
    <div class="mb-3">

    {{ include('category/_form.html.twig') }}
    </div>

    <a href="{{ path('app_category_index') }}" class="btn btn-secondary">back to list</a>
    </div>
{% endblock %}
