{% extends 'base.html.twig' %}

{% block title %}Edit Commande{% endblock %}

{% block body %}
    <h1 class="mb-4">Edit Commande</h1>
    <div class="mb-3">

    {{ include('commande/_form.html.twig', {'button_label': 'Update'}) }}
    </div>

    <a href="{{ path('app_commande_index') }}" class="btn btn-secondary">back to list</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
