{% extends 'base.html.twig' %}

{% block title %}New Menu{% endblock %}

{% block body %}
    <div class="container mt-5">

    </div>
    <h1 class="mb-4">Create new Menu</h1>
    <div class="mb-3">
    {{ include('menu/_form.html.twig') }}
    </div>

    <a href="{{ path('app_menu_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
